---
import ThemeToggle from "./ThemeToggle.astro";
import MainNav from "./MainNav.astro";
import MobileNav from "./MobileNav";
---

<div class="bg-background/80 sticky top-0 flex h-14 w-full backdrop-blur-lg">
    <header class="container flex items-center justify-between">
        <MainNav />
        <MobileNav client:visible />
        <ThemeToggle variant="ghost" />
    </header>
</div>
