---
import Layout from "~/layouts/Layout.astro";
import type { ClassValue } from "clsx";
import { cn } from "~/lib/utils";
import Navbar from "~/components/Navbar.astro";

interface Props {
    title?: string;
    description?: string;
    className?: ClassValue;
}

const { title, description, className } = Astro.props;
---

<Layout title={title} description={description}>
    <Navbar />
    <main class={cn("flex-1", className)}>
        <slot />
    </main>
    <footer class="h-10 w-full"></footer>
</Layout>
